body {
    background-color: #000;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.motivation-container {
    text-align: center;
    width: 50%;
    margin: auto;
}
h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-transform: uppercase;
}
p {
    margin: auto;
}
img {
    width: 100%;
    border: 5px solid #fff;
    margin : auto;
  }